.nav-bar {

    padding-top: 0.5em;
    padding-bottom: 1em;
    text-align: center;

    background-color: var(--light-charcoal);
}


.nav-bar-expanded {
    margin-bottom: -1.5em !important;
    
}

.nav-bar a {
    padding-bottom: 10px;
    padding-left: 2em;
}

.nav-expandable {
    display: inline;
    padding-bottom: 0em;

}

.secondary-nav {
    background-color: var(--light-charcoal);
}