
.home-container {
  display: inline-grid;
}

.home-form {
    margin: 8em;
    margin-left: 4em;
    margin-right: 4em;
    background-color: var(--white);
    height: 25em;
    border-radius: 2em;
    padding: 1em;

    text-align: center;
}

.split-container-left {
  display: inline-block;
  margin: 1em;
  border: 2px solid var(--blue);
  
  flex-direction: row-reverse;
}

.split-container-right {
  display: inline-block;
  margin: 1em;
  border: 2px solid var(--blue);
  
}

/* Extra Small Devices (Phones, less than 576px) */
@media (max-width: 575.98px) {
  /* CSS rules for extra small devices */
  .home-form {
    display: flex;
    min-width: 15em;
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
    padding-top: 4em;
  }
  

  .split-container-left {
    display: inline-block;
    margin: 1em;
    border: 2px solid var(--blue);
  }

  .split-container-right {
    display: inline-block;
    margin: 1em;
    border: 2px solid var(--blue);
    
    flex-direction: row-reverse;
  }
  .split-container-right * {
    width: 100% !important;
  }
  .split-container-left * {
    width: 100% !important;
  }

  .split-info > * {
    margin-top: 0%;
  }

}

/* Small Devices (Phones, 576px and up) */
@media (min-width: 576px) {
  /* CSS rules for small devices */
  .hero {
    padding-top: 4em;
  }

  .split-container-left {
    display: inline-block;
    margin: 1em;
    border: 2px solid var(--blue);
    flex-direction: row-reverse;
  }

  .split-container-right {
    display: inline-block;
    margin: 1em;
    border: 2px solid var(--blue);
  }
  .split-container-right * {
    width: 100% !important;
  }
  .split-container-left * {
    width: 100% !important;
  }
  
  .split-info > * {
    margin-top: 0%;
  }



}


/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) {
  /* CSS rules for medium devices */
  .home-form {
      display: flex;
  }

  .hero {
    padding-top: 4em;
  }

  .split-container-left {
    display: inline-block;
    margin: 1em;
    border: 2px solid var(--blue);
    flex-direction: row-reverse;
  }

  .split-container-right {
    display: inline-block;
    margin: 1em;
    border: 2px solid var(--blue);
  }
  .split-container-right * {
    width: 100% !important;
    margin: auto;
  }
  .split-container-left * {
    width: 100% !important;
    margin: auto;
  }

  .split-info > * {
    margin-top: 0%;
  }

}
  
  /* Large Devices (Desktops, 992px and up) */
  @media (min-width: 992px) {
    /* CSS rules for large devices */

    .split-container-left {
      display: flex;
      margin: 1em;
      border: 2px solid var(--blue);
      flex-direction: row;
    }
  
    .split-container-right {
      display: flex;
      margin: 1em;
      border: 2px solid var(--blue);
      flex-direction: row-reverse;
    }


  }
  
  /* Extra Large Devices (Large Desktops, 1200px and up) */
  @media (min-width: 1200px) {
    /* CSS rules for extra large devices */
  }
  
  /* High DPI (Retina) Displays */
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* CSS rules for high DPI displays */
  }
  
  /* Portrait Orientation (for both phones and tablets) */
  @media (orientation: portrait) {
    /* CSS rules for portrait orientation */
  }
  
  /* Landscape Orientation (for both phones and tablets) */
  @media (orientation: landscape) {
    /* CSS rules for landscape orientation */
  }
  